@mixin button-reset {
  background: none;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  padding: 0;
  text-align: inherit;
  color: inherit;

  &:active {
    color: inherit;
  }
}

@mixin button-base() {
  @include button-reset();
  display: block;
  border: $button-outer-border-width solid $button-outer-border-color;
  border-radius: $button-border-radius;
  width: 100%;
  cursor: pointer;
  font-size: $font-small;
  transition: all $transition-duration ease, outline 0ms ease;

  &:disabled {
    cursor: default;
    color: $disabled-text-color;
  }

  &:not(:disabled) {
    &:hover, &:active {
      background-color: $button-background-color-hover;
    }
  }
}

@mixin link-rainbow-border {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  z-index: 3;

  &:before {
    content: '';
    position: absolute;
    width: 200%;
    top: calc(100% - #{$link-border-thickness});
    left: 0;
    height: $link-border-thickness;
    transition: all $transition-duration ease;
    background-color: $text-color;
    z-index: -2;
  }

  &:after {
    content: '';
    position: absolute;
    width: 200%;
    top: calc(100% - #{$link-rainbow-border-thickness});
    left: 0;
    height: $link-rainbow-border-thickness;
    background-image: linear-gradient(to right, $red 0 17%, $orange 17% 33%, $yellow 33% 50%, $green 50% 66%, $blue 66% 83%, $purple 83% 100%);
    transition: all $transition-duration ease;
    background-color: $text-color;
    background-size: 50%;
    background-repeat: repeat;
    opacity: 0;
    z-index: -1;
  }

  &:not(:disabled) {
    &:hover, &:active, &:focus {
      outline: 0;

      &:after {
        opacity: 1;
        animation: move;
        animation-duration: $rainbow-animation-duration;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @media (prefers-reduced-motion) {
          animation: none;
        }
      }
    }
  }

  @keyframes move {
    from {
      left: 0;
    }

    to {
      left: -100%;
    }
  }
}

@mixin button-rainbow-border {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: $button-rainbow-border-thickness;
    right: $button-rainbow-border-thickness;
    bottom: $button-rainbow-border-thickness;
    left: $button-rainbow-border-thickness;
    border-radius: inherit;
    background: $white;
    z-index: 2;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    background: transparent;
    z-index: 1;
    opacity: 0;
    transition: all $transition-duration ease;
    background: conic-gradient(from 31deg, $red 0deg 60deg, $orange 60deg 120deg, $yellow 120deg 180deg, $green 180deg 240deg, $blue 240deg 300deg, $purple 300deg 360deg);
  }

  &:not(:disabled) {
    &:hover, &:active, &:focus {
      outline: 0;

      &:after {
        opacity: 1;
        animation: rotate;
        animation-duration: $rainbow-animation-duration;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @media (prefers-reduced-motion) {
          animation: none;
        }
      }
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

@mixin button() {
  @include button-base();
  padding: $margin-small $margin-medium;
  background-color: $white;
  border: $button-outer-border-width solid $button-outer-border-color;
}

$light-gray: #cccccc;
$black: #000000;
$white: #ffffff;
$red: #e53045;
$orange: #f28c32;
$yellow: #f2d624;
$green: #66ce4a;
$blue: #3aa1d8;
$purple: #7756b5;
$accent: $red;

$background-color: $white;
$text-color: $black;
$disabled-text-color: rgba($text-color, 0.5);

$transition-duration: 0.3s;

$min-width: 320px;
$tablet-breakpoint: 600px;

$margin-micro: 2px;
$margin-tiny: 4px;
$margin-small: 8px;
$margin-medium: 16px;
$margin-big: 32px;
$margin-huge: 64px;

$font-big: 2rem;
$font-medium: 1.4rem;
$font-small: 1rem;
$font-tiny: 0.8rem;

$body-padding: $margin-medium;
$icon-button-padding: $margin-small;
$icon-size-small: 16px;
$icon-size-big: 22px;

$question-width: $min-width - $margin-big * 2;
$button-border-radius: $margin-small;
$button-outer-border-width: 1px;
$button-outer-border-color: $light-gray;
$button-inner-border-width: $margin-tiny;
$button-inner-border-color: $white;
$button-background-color-hover: lighten($light-gray, 15);
$button-text-border-radius: $margin-tiny;
$button-rainbow-border-thickness: 3px;
$link-border-thickness: 1px;
$link-rainbow-border-thickness: 3px;
$rainbow-animation-duration: 3s;
